# MongoDB Connection String
DB_STR=mongodb+srv://username:password@cluster0.mongodb.net/dbname?retryWrites=true&w=majority

# External API URL
APIURL=https://jsonplaceholder.typicode.com/photos

# Node Environment
NODE_ENV=development
